---
import DefaultPageLayout from '$/layouts/default.astro'
import PostPreviewListHome from '$/components/PostPreviewListHome.astro'


const title = 'Home'
const description = 'Knight Times News is a student-run news organization at NeoCity Academy.'

const posts = await Astro.glob('./blog/*.md')
---

<DefaultPageLayout content={{ title, description }} showPageHeader={false}>

    <iframe class="yt"  src="https://www.youtube.com/embed/2U1XTGngZ-Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <h1 class="text-4xl font-bold uppercase text-slate-600 dark:text-blue-300 mt-3 mb-5 titles">Important Information & Announcements</h1>

    <div class="post-preview mb-2"> <img src="https://res.cloudinary.com/cduoshop/image/upload/v1664199442/Screenshot_2022-09-26_at_9.31.27_AM_xxduce.png" width="100%"/></div>

    <div class="post-preview">
        <div class="sm:w-20 md:w-32">
            <div class="post-preview__date">
                <span class="post-preview__date__day">12</span>
                <span class="post-preview__date__month-n-year">Sept 2022</span>
            </div>
        </div>
        <div class="flex-1">
          
              <a href="https://osceolak12-my.sharepoint.com/:w:/g/personal/ullmannj_osceola_k12_fl_us/EY9ScmGOoaZJpYCKHWZic8cBYVh-JYcUbkhACTe3TYSHYA?rtime=Vt5J3f2a2kg" target="blank"><h4 class="post-preview__title">
                Research Schedule
              </h4></a>
            <p class="post-preview__desc">
                By Clicking The Link, You Can View This Weeks Research Schedule
            </p>
        </div>
        
    </div>
    <!-- <div class="post-preview">
        <div class="sm:w-20 md:w-32">
            <div class="post-preview__date">
                <span class="post-preview__date__day">7</span>
                <span class="post-preview__date__month-n-year">Sept 2022</span>
            </div>
        </div>
        <div class="flex-1">
            <a href="https://youtu.be/6Kxivjzh4wU" target="blank"><h4 class="post-preview__title">
                Weekly Broadcast
              </h4></a>
            <p class="post-preview__desc">
               View This Weeks Knight Times News Broadcast
            </p>
        </div>
    </div> -->
   


    <h1 class="text-4xl font-bold uppercase text-theme-secondary dark:text-blue-300 mt-3 mb-5 titles">Our Newest Articles</h1>
    
    <PostPreviewListHome posts={posts} />
    <div class="page__actions">
        <a class="action__go-to-blog" href="/blog" title="All Posts">All Posts &rarr;</a>
    </div>

    <div>
        <h1 class="font-bold text-4xl mb-3 text-theme-secondary dark:text-blue-300 ">Events</h1>
        <iframe
        src="https://calendar.google.com/calendar/embed?src=skkj0al573e7vndddl37bjtcno%40group.calendar.google.com&ctz=America%2FNew_York"
        style="border: 0"
        width="100%"
        height="600"
        frameborder="0"
        scrolling="no"
        class="calender"
      ></iframe>
    </div>

</DefaultPageLayout>

<style>
    .page__actions {
        @apply flex justify-center md:justify-end py-6
    }
    .action__go-to-blog {
        @apply text-base uppercase text-gray-500 dark:text-gray-400 hover:underline
    }

    .post-preview {
            @apply  flex gap-6;
        }
        .post-preview__date {
            @apply flex flex-col w-full text-center;
        }
        .post-preview__date__day {
            @apply text-6xl font-semibold text-gray-500 dark:text-gray-300;
        }
        .post-preview__date__month-n-year {
            @apply text-gray-400;
        }
        .post-preview__title {
            @apply text-2xl font-semibold text-theme-primary dark:text-theme-dark-primary mb-2;
        }
        .post-preview__desc {
            @apply text-lg leading-6 line-clamp-2 dark:text-white;
        }
        .yt {
            width: 100%;
            height: 500px;
        }
        @media (max-width: 1000px) {
            .yt {
                width: 100%;
                height: 200px;
            }
        
        }
</style>
