---
    import { SITE } from '$/config'
    import ModeLabel from './ModeLabel.svelte'
    import NetlifyIdentity from './NetlifyIdentity.svelte'
    let date = new Date().getFullYear()
---
<footer class="footer">
    <nav class="nav">
        <div>Copyright {date} &copy; {SITE.title} | Your Current Mode: <ModeLabel client:load/></div>
        <NetlifyIdentity client:load/>
    </nav>
</footer>
<style>
    .footer {
        @apply py-6 border-t
    }
</style>
